.title{
  font-size: 40px;
  color: red;
  margin: 20px;
  margin-bottom: 60px;
}

.general-button{
  font-size: 30px;
  border-radius: inherit;
  display: flexbox;
  text-align: center;
}

.center{
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;   
}

.input-credentials{
  font-size: 20px;
}