.title{
  font-size: 40px;
  color: rgb(21, 126, 131);
  margin: 20px;
}

.general-button{
  font-size: 30px;
  border-radius: 5px;
  display: flexbox;
  text-align: center;
}

.center{
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.item-box{
  padding: 40px;
  font-size: 20px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  border-color: #D1CBCF;
  margin: auto;
}

.form-container{
  padding: 30px;
  width: 50%;
  margin: auto;
}